/* Container styling */

.row{
    padding: 0%;
    margin: 0%;
}

.container-fluid{
    padding: 0%;
    margin: 0%;
}

.card-deck{
    padding: 0%;
    margin: 0%;
}

/* Navbar*/

.navbar-brand{
    font-family: 'Fjalla One';
    font-size: 40px;
}

.nav-item{
    font-family: 'Montserrat';
    font-size: 18px;
}

        /* Navbar transition (1) */

.nav-item a {
    color:#fff;
    position:relative;
}

.nav-item a::after, .nav-item a::before{
    content: "";
    display: block;
    height: 1px;
    width: 100%; 
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 5px;
    transform: scaleX(0); 
    transition: .5s;
    transform-origin: left center; 
}

.nav-item a::before{
    transform-origin: right center;
    bottom: auto; 
    top: 5px;
}

.nav-item a:hover::before, .nav-item a:hover::after{
    transform: scaleX(1)
}

/* Header */

.header-img{
    background-image: url('header-catedral_de_barcelona.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}

.tagline{
    font-family: 'Fjalla One';
    font-size: 40px;
    margin-top: 20%;
    text-align: center;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .jackInTheBox {
    -webkit-animation-name: jackInTheBox;
    animation-name: jackInTheBox;
  }

/* About */

#about{
    margin-top: 50px;
    width: 100%;
    background-color: #0B3954;
}

.about-img{
    background-image: url('about-barcelona_sunset.JPG');
    background-size: cover;
    width: 100%;
    height: 400px;
}

.about-title{
    color: #fff;
    font-family: 'Fjalla One';
    font-size: 30px; 
    margin-top: 70px;
}

.about-text{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px; 
    line-height: 25px;
    margin-top: 30px;
}

.parallax2{
    background-attachment: fixed;
    background-size: contain;
}

/* Sites */

.sites-title{
    color: #000;
    font-family: 'Fjalla One';
    font-size: 30px; 
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.card-img-top1{
    height: 250px;
    width: auto;
}

.card{
    border: none;
}

.card-title{
    font-family: 'Average';
    font-size: 25px;
}

.card-text1{
    font-family: 'Montserrat';
    font-size: 16px;
    height: 200px;
}

.btn{
    background-color: #BFD7EA;
    color: #000;
    border: none;
    font-family: 'Montserrat';
    font-size: 14px;
}

.btn:hover{
    background-color: #FF5A5F;
}


/* More */

.border-bottom{
    background-color: #fff !important;
}

.pb-5{
    padding-bottom: 0px !important;
}

.more-title{
    color: #000;
    font-family: 'Fjalla One';
    font-size: 30px; 
    margin-bottom: 20px;
}

.more-text{
    font-family: 'Average';
    font-size: 25px;
}

        /* Day Trips */

.day-trips-title{
    color: #087E8B;
    font-family: 'Fjalla One';
    font-size: 30px;
    margin: 30px;
    text-align: center;
}

.card-img-top2{
    height: 400px;
    width: auto; 
}

    /* Day Trips transition (4) */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

        /* Nightlife */

.nightlife-title{
    color: #FF5A5F;
    font-family: 'Fjalla One';
    font-size: 30px;
    margin: 30px;
    text-align: center;
}

    /*Nightlife transition (2)*/

.card-nl{
    background-color: #087E8B;
    margin: 0px 15px;
    color: #fff;
    transition: background-color 1s linear 0s;
}
.card-nl :hover{
    background-color: #FF5A5F;

}

/* Recommendation */

.recommendation-title{
    color: #000;
    font-family: 'Fjalla One';
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.card-body4{
    align-content: center;
    justify-content: center;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card-img-rec :hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
}
  
/* Gallery */

.gallery{
    background-color: #BFD7EA;
}

    /* Gallery transition (3) */

.inset:hover{
    box-shadow: inset 0 0 0 20px #FF5A5F;
}


/* Contact*/

    /* Contact transition (5) */  

.scale{
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }

.scale :hover{
    transform: scale(1.5, 1.5);
  }

/* Footer */

.card-header{
    background-color:#FF5A5F;
    border: none;
    font-family:'Fjalla One';
    font-size: 30px;
}

.card-header:first-child {
    border-radius: 0;
}

.footer-text{
    font-family: 'Average';
    font-size: 16px;
}




